<?xml version="1.0" encoding="ISO-8859-1" ?>
<config>
	<isEliteModule>true</isEliteModule>
	<fullscreen_button_visible>false</fullscreen_button_visible>
	<background_active>false</background_active>
	<background_default>backgrounds/bkg_black_dots.swf</background_default>
	<default_gallery_arrange>horizontal</default_gallery_arrange>
	<default_category_xml>category1.xml</default_category_xml>
	<default_color>0xEEC800</default_color>
	<video_on_loop>false</video_on_loop>
	<drag_mode>true</drag_mode>
</config>